@import '../../../common/styles/variables';
@import './src/common/styles/mixins';

.snackbar {
  @include infoBlock(10px, #181818, 10px);
  color: $baseColor;
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s linear;

  @media (max-width: 480px) {
    font-size: 11px;
  }

  .btn {
    display: block;
    color: $baseColor;
    background-color: #181818;
    border: none;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity .2s linear;

    &:hover {
      opacity: 1;
    }
  }
}

.snackbarHide {
  opacity: 0;
  transition: opacity 0.3s linear;
}