@import './src/common/styles/variables';
@import "./src/common/styles/mixins";

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  @include infoBlock(20px, $backgroundColorBlock, 30px 30px 10px);

  .formInputs {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1080px) {
      flex-direction: column;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
    }

    .formInput {
      margin-bottom: 30px;
      height: 50px;
      flex: 0 0 48%;

      font-family: inherit;
      padding: 10px;
      border: none;
      outline: none;
      color: #fff;
      background-color: inherit;
      border-bottom: 1px solid #8a8787;
      transition: border-bottom-color .2s linear;


      &:focus {
        border-bottom-color: #fff;
      }
    }

    .formInputError {
      border-bottom: 1px solid #982525;

      &:focus {
        border-bottom-color: #982525;
      }
    }


  }

  .formTextarea {
    width: 100%;
    resize: none;

    font-family: inherit;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-color: inherit;
    border-bottom: 1px solid #8a8787;
    transition: border-bottom-color .2s linear;

    &:focus {
      border-bottom-color: #fff;
    }
  }

  .formTextareaError {
    border-bottom: 1px solid #982525;

    &:focus {
      border-bottom-color: #982525;
    }
  }

  .btn {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 30px 20px 20px;

    .icon {
      margin-left: 5px;
      transition: margin-left .2s linear;
    }

    &:hover .icon {
      margin-left: 8px;
    }
  }

  .formButton {
    color: #8a8787;
  }
}