@import './src/common/styles/variables';

.navbar {
  //display: none;
  position: fixed;
  background-color: #181818;
  max-height: 100vh;
  height: 100%;
  width: 40px;
  z-index: 1;


  @media (max-width: 720px) {
    display: block;
    position: fixed;
    max-width: 100vw;
    width: 100%;
    height: 40px;
  }

  .linksPageLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
    top: 25%;
    left: 0;
    max-height: 200px;
    height: 100%;

    @media (max-width: 720px) {
      display: none;
    }

    .iconActive {
      color: $baseColor;
    }

  }

  .linksPageTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 40px;
    height: 100%;
    background-color: #1d1e21;
    animation: opacityAnimation .2s;

    a {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }

    .iconActive {
      color: $baseColor;
    }
  }

  .linksSocial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 95%;
    left: 0;
    max-height: 100px;
    height: 100%;
    transform: translate(75%, -80%);

    @media (max-width: 720px) {
      display: none;
    }

    @media (max-height: 420px) {
      display: none;
    }
  }

  .hamburgerMenu {
    display: none;
    height: 40px;
    width: 40px;
    text-align: center;

    @media (max-width: 720px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }

    .icon {
      position: relative;
      transform: translate(-50%, 40%);
    }
  }

  a {
    text-decoration: none;
    color: #a9a9a9;
    transition: color .3s linear;

    &:hover {
      cursor: pointer;
      color: $baseColor;
    }
  }
}

//Animation

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}