@import './src/common/styles/variables';

.theme {
  tab-index: 0;

  .themeButton {
    position: fixed;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    color: $baseColor;
    border: none;
    z-index: 3;
    cursor: pointer;
    text-align: center;
  }

  .menu {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 5px;
    transition: left .4s ease;
    z-index: 2;
    tab-index: 0;

    @media (max-width: 720px) {
      flex-direction: column;
      transition: top .4s ease;
      height: 250px;
      width: 40px;
    }

    .item {
      cursor: pointer;

      &:first-child {
        margin-left: 10px;

        @media (max-width: 720px) {
          margin-left: 0;
        }
      }
    }
  }

  .menuShow {
    left: 40px;
    border-left: 1px solid grey;

    @media (max-width: 720px) {
      left: 0;
      top: 40px;
      border-left: none;
      border-top: 1px solid grey;
    }
  }

  .menuHide {
    left: -250px;
    @media (max-width: 720px) {
      left: 0;
      top: -250px;
    }
  }
}
